<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My amazing sinatra calculator</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>My awesome calculator</h1>
  <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/basic_calc">BASIC CALC</a></li>
    <li><a href="/mortgage">MORTGAGE</a></li>
  </ul>
  <%= yield %>
</body>
</html>